@use 'styles/helpers/variables.scss' as *;

@mixin setFlex($direction: row, $align-items: center, $justify-content: center){
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin tinyBorderBottom($color: $grey){
  border-bottom: 1px solid $color;
}


@mixin tablet() {
  @media(min-width: 768px) {
    @content;
  }
}