//  Colors
$orange: #F87070;
$purple: #D881F8;
$lightBlue: #70F3F8;
$white: #FFFFFF;
$lightGrey: #EFF1FA;
$grey: #D7E0FF;
$darkGrey: #a5a6b2;
$navyBlue: #1E213F;
$darkNavyBlue: #161932;

// Fonts
$kumbh-sans: 'Kumbh Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$space-mono: 'Space Mono', monospace;


:export {
  orange: $orange;
  purple: $purple;
  lightBlue: $lightBlue;
}
