@use 'styles/helpers/mixins.scss' as *;

.container {
  max-height: 100vh;
  padding: 2rem 0;
  @include setFlex(column, center, flex-start);
  overflow: hidden;
}

.modeBarWrapper {
  padding: 4rem 0;
}



.settingsWrapper {
  padding: 2rem 0 0 0;
}