@use 'styles/helpers/mixins.scss' as *;
@use 'styles/helpers/variables.scss' as *;

.button {
  padding: 0 1.1rem;
  width: 15rem;
  height: 4.8rem;
  background-color: transparent;
  text-align: center;
  border-radius: 2.5rem;
  color: $darkGrey;
  font-size: 1.28rem;
  border: none;
  transition: all 0.15s ease-in;
  font-weight: bold;

  &:hover {
    background-color: rgba(255,255,255,0.1)
  }
}

.isActive {
  color: $navyBlue
}

.orange {
  @extend .isActive;
  background-color: $orange;
  &:hover {
    background-color: lighten($color: $orange, $amount: 6)
  }
}

.lightBlue {
  @extend .isActive;
  background-color: $lightBlue;
  &:hover {
    background-color: lighten($color: $lightBlue, $amount: 6)
  }
}

.purple {
  @extend .isActive;
  background-color: $purple;
  &:hover {
    background-color: lighten($color: $purple, $amount: 6)
  }
}