@use 'styles/helpers/variables.scss' as *;
@use 'styles/helpers/mixins.scss' as *;
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.1);
  z-index: 5000;
}

.modal {
  max-width: 32rem;
  width: 90%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: $white;
  border-radius: 2.5rem;

  & > div:not(:nth-last-child(-n + 2)) {
    @include tinyBorderBottom
  }

  @include tablet {
    max-width: 54rem;
    max-height: 49rem;
  }
}

.modalHeading {
  padding: 2rem 3rem; 
  width: 100%;
  @include setFlex(row, center, space-between);
  color: $black;
  font-weight: bold;
  
  svg {
    cursor: pointer;
  }

  & :first-child {
    letter-spacing:0;
  }
}

.modalFooter {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    color: $white;
  }
}


